.controls-dices {
    cursor: pointer;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-tap-highlight-color: transparent;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.controls-dice {
    border-radius: 7.5px;
    box-shadow: 0 0 8px rgba($color-black, .3);
    height: 6rem;
    margin: 2rem 0;
    width: 6rem;

    @include media-breakpoint-up(sm) {
        margin: 1rem 0;
    }
}