.current-score {
    background: $color-primary-medium;
    border-radius: 5px;
    padding: 1rem;

    &__heading {
        color: rgba($color-white, .7);
        font-size: 1.2rem;
        font-weight: $fontWeightLight;
        margin-bottom: .75rem;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
        }
    }

    &__value {
        color: $color-white;
        font-weight: $fontWeightLight;

        @include media-breakpoint-up(lg) {
            font-weight: $fontWeightLightest;
            font-size: 3.5rem;
        }
    }
}