.app {
    border-radius: 15px;
    margin: 0 auto;
    max-width: 80%;
    padding: 1.5rem 3rem;

    @include media-breakpoint-up(md) {
        max-width: 100%;
    }

    .content {
        @include media-breakpoint-up(md) {
            height: 60vh;
        }
    }
}