.player {
    @include flex(column);
    height: 100%;
    
    &__heading {
        color: rgba($color-primary-dark, .5);
        font-weight: $fontWeightLightest;
        text-transform: uppercase;

        @include media-breakpoint-up(sm) {
            margin-bottom: 1.5rem;
        }
    }

    &__score {
        color: $color-primary-dark;
        font-size: 5rem;
        font-weight: $fontWeightLightest;
        line-height: .75;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(sm) {
            font-size: 7rem;
            margin-bottom: 3rem;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 5rem;
        }
    }
}