html {
    box-sizing: border-box;
    font-size: calc(10 / 16 * 100%);   // for calculation purpose, so that 1rem is 10px
    @include media-breakpoint-up(md) {font-size: calc(12 / 16 * 100%)}
    @include media-breakpoint-up(lg) {font-size: calc(14 / 16 * 100%)}
    @include media-breakpoint-up(xl) {font-size: calc(16 / 16 * 100%)}
}

body {
    align-content: center;
    background: linear-gradient(
        to bottom,
        rgba($color-black, .85) 50%,
        rgba($color-black, .5)
        ),
        url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    color: $color-text;
    display: grid;
    font-family: $font-primary;
    font-weight: 300;
    height: 100vh;
    line-height: 1;
    text-align: center;
}